SECRET_KEY=change-this-secret-key
DEBUG=False
ALLOWED_HOSTS=ihadmofa.onrender.com,127.0.0.1,localhost
CSRF_TRUSTED_ORIGINS=https://ihadmofa.onrender.com
SQLITE_PATH=/var/data/db.sqlite3
MEDIA_ROOT=/var/data/media
SESSION_COOKIE_SECURE=True
CSRF_COOKIE_SECURE=True
WEBPUSH_VAPID_PUBLIC_KEY=
WEBPUSH_VAPID_PRIVATE_KEY=
WEBPUSH_VAPID_ADMIN_EMAIL=admin@example.com
